version: '3.8'

services:
  # Keycloak service
  keycloak:
    image: quay.io/keycloak/keycloak:26.5.2
    container_name: keycloak
    ports:
      - "8081:8080"
    environment:
      - KC_BOOTSTRAP_ADMIN_USERNAME=admin
      - KC_BOOTSTRAP_ADMIN_PASSWORD=bad-password
      - KEYCLOAK_EXTRA_ARGS=--import-realm --start-dev
      - KC_DB=postgres
      - KC_DB_URL=jdbc:postgresql://postgres:5432/events_demo
      - KC_DB_SCHEMA=keycloak
      - KC_DB_USERNAME=keycloak_user
      - KC_DB_PASSWORD=keycloak_password
      - KC_FEATURES=scripts,organization
    volumes:
      - ./data/import:/opt/keycloak/data/import
    depends_on:
      - postgres
    networks:
      - app-network
    entrypoint: /opt/keycloak/bin/kc.sh start-dev --import-realm --features=scripts,organization

  # PostgreSQL for Keycloak
  postgres:
    image: postgres:18
    container_name: postgres
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=admin
      - POSTGRES_DB=events_demo
    volumes:
      - postgres_data:/var/lib/postgresql
      - ./data/db/01-create-events-schema.sql:/docker-entrypoint-initdb.d/01-create-events-schema.sql
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  postgres_data:
    driver: local
